//Constant
.#{$prefix}{
  font-family: $font-fam;
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-style: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

//background circle
.#{$prefix}-circle:before {
 content: $pre-var-circle;
}
