/*
 * FONT PATH
 */

@font-face {
  font-family: $font-fam;
  src: url('#{$font-path}/#{$font-pack}.eot');
  src: url('#{$font-path}/#{$font-pack}.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/#{$font-pack}.woff') format('woff'),
  url('#{$font-path}/#{$font-pack}.ttf') format('truetype'),
  url('#{$font-path}/#{$font-pack}.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}